@using AdminApi.Models.Forms
@using Domain.Models
@using Domain.Utils
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using BlazorBootstrap

@if (loading || NftArtForm is null)
{
    <Spinner />
}
else
{
    <EditForm Model="@AvailablePurchase" OnValidSubmit="SubmitLink">
        <DataAnnotationsValidator />
        <ValidationSummary />
            <div>
                <div class="mb-3">
                    <label for="sourceId" class="form-label">Nft Chain</label>
                    <input type="text" id="sourceId" class="form-control disabled" value="@NftChain" disabled="disabled"/>
                </div>
                @if (NftArtForm.NftChain != Domain.Models.Enums.NftChain.Unknown)
                {
                    <div class="mb-3">
                        <label for="sourceId" class="form-label">Name</label>
                        <InputSelect id="sourceId" class="form-control" @bind-Value="AvailablePurchase.Text">
                            <option checked="@(AvailablePurchase.Text is null)" value="">
                                Select
                            </option>
                            @foreach (var externalName in NftConstants.AvailablePurchaseMapping[NftArtForm.NftChain])
                            {
                            <option checked="@(AvailablePurchase.Text == externalName)" value="@externalName">
                                    @externalName.ToString()
                                </option>
                            }
                        </InputSelect>
                    </div>
                }
                <div class="mb-3">
                    <label for="sourceId" class="form-label">Url</label>
                <InputText id="sourceId" class="form-control" @bind-Value="AvailablePurchase.Url" />
                </div>
                <div class="mb-3">
                <Switch @bind-Value="AvailablePurchase.Active" Label="Active" />
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>

    </EditForm>
}

@code {
    [Parameter]
    public NftArtForm? NftArtForm { get; set; }

    [Parameter]
    public EventCallback<AvailablePurchase> ExternalLinksChanged { get; set; }

    private AvailablePurchase AvailablePurchase => NftArtForm?.AvailablePurchase ?? new();

    private string? NftChain => NftArtForm?.NftChain.ToString();

    private bool loading = false;

    private async Task SubmitLink()
    {
        loading = true;
        await ExternalLinksChanged.InvokeAsync(AvailablePurchase);
        loading = false;
    }
}
