@page "/"
@using AdminApi.Models
@using AdminApi.Services
@using Domain.Models
@inject ListNftsService NftService
@inject HomeCollectionService HomeSettingsService

<PageTitle>Home</PageTitle>

<h1>Home settings</h1>

<div class="mb-5">
    <EditForm Model="@homeSettings" OnValidSubmit="HandleValidSubmit">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <InputText id="title" class="form-control" @bind-Value="homeSettings.Title" />
        </div>
        <div class="mb-3">
            <label for="subtitle" class="form-label">Sub Title</label>
            <InputText id="subtitle" class="form-control" @bind-Value="homeSettings.Subtitle" />
        </div>
        <div>
            <h3 class="h3">Selected Nfts</h3>
            <div class="d-flex justify-content-around" >
                @foreach (var selectedNft in selectedNfts)
                {
                    <figure class="figure">
                        <img src="@selectedNft.LowestCompressionUrl" class="figure-img h-100 rounded" alt="..." style="max-height: 200px">
                        <figcaption class="figure-caption">@selectedNft.Name</figcaption>
                        <Button Color="ButtonColor.Light" @onclick="(() => RemoveSelected(selectedNft))">
                            <Icon Name="IconName.X" Size="IconSize.x2" Color="IconColor.Danger" />
                        </Button>
                    </figure>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-success">
            @if (loading)
            {
                <Spinner />
            }
            else
            {
                <span>Save</span>
            }
        </button>
    </EditForm>
</div>

<Grid TItem="NftArtResponse"
      Class="table table-hover table-bordered table-striped"
      DataProvider="NftsDataProvider"
      PageSize="3"
      AllowFiltering="true"
      AllowPaging="true"
      AllowSorting="true"
      AllowRowClick="true"
      Responsive="true"
      OnRowClick="OnRowClick">
    <GridColumn TItem="NftArtResponse" HeaderText="Preview" PropertyName="LowestCompressionUrl" Filterable="false">
        <div class="d-flex justify-content-center">
            <img src="@context.LowestCompressionUrl" class="w-25" />
        </div>
    </GridColumn>
    <GridColumn TItem="NftArtResponse" HeaderText="Name" PropertyName="Name">
        @context.Name
    </GridColumn>
    <GridColumn TItem="NftArtResponse" HeaderText="Description" PropertyName="Description">
        @context.Description
    </GridColumn>
    <GridColumn TItem="NftArtResponse" HeaderText="Collection" PropertyName="Collection" Filterable="false">
        @context.Collection
    </GridColumn>
    <GridColumn TItem="NftArtResponse" HeaderText="1-1" PropertyName="OneOfOne">
        @if (context.OneOfOne)
        {
            <Icon Name="IconName.CheckAll" Size="IconSize.x2" Color="IconColor.Success" />
        }
        else
        {
            <Icon Name="IconName.X" Size="IconSize.x2" Color="IconColor.Danger" />
        }
    </GridColumn>
    <GridColumn TItem="NftArtResponse" HeaderText="Edition" PropertyName="Edition">
        @if (context.Edition)
        {
            <Icon Name="IconName.CheckAll" Size="IconSize.x2" Color="IconColor.Success" />
        }
        else
        {
            <Icon Name="IconName.X" Size="IconSize.x2" Color="IconColor.Danger" />
        }
    </GridColumn>
</Grid>

@code {
    private HomeSettings homeSettings = new();
    private List<NftArtResponse> selectedNfts = [];
    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        homeSettings = await HomeSettingsService.GetHomeSettings() ?? homeSettings;

        selectedNfts = (await NftService.ListNfts())
            .Where(n => 
                homeSettings.NftIds.Any(x => x.Id == n.Id)
            ).ToList();
    }

    private async Task HandleValidSubmit()
    {
        loading = true;
        homeSettings.NftIds = selectedNfts.Select(n => new HomeNft 
        { 
            Id = n.Id,
            Name = n.Name,
            Url = n.LowestCompressionUrl, 
            CreatedAt = n.CreatedAt
        }).ToArray();
        await HomeSettingsService.UpsertHomeSettings(homeSettings);
        loading = false;
    }

    private void RemoveSelected(NftArtResponse nftArtResponse)
    {
        selectedNfts.Remove(nftArtResponse);
    }

    private async Task<GridDataProviderResult<NftArtResponse>> NftsDataProvider(GridDataProviderRequest<NftArtResponse> request)
    {
        return request.ApplyTo(await NftService.ListNfts());
    }

    private Task OnRowClick(GridRowEventArgs<NftArtResponse> args)
    {
        selectedNfts.Add(args.Item);

        return Task.CompletedTask;
    }
}
